* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    background-color: #16181c;
    color: #ffffff;
}
.container {
    width: 1080px;
    margin: 0 auto;
}
@media (max-width: 1100px) {
    .container {
        width: 768px;
    }
    body {
        padding: 50px 0px 100px 0px;
    }
}
@media (max-width: 768px) {
    .container {
        width: 425px;
        padding: 0px 15px;
    }
}
@media (max-width: 425px) {
    .container {
        width: 100%;
    }
}
